<header class="app-header" *ngIf="authService.isAuthenticated()">
  <div class="brand">GIE Fleet Manager</div>
  <nav>
    <a routerLink="/tableau-de-bord">Tableau de bord</a>
    <ng-container *ngIf="authService.role() !== 'SUPER_ADMIN'">
      <a routerLink="/vehicules">Véhicules</a>
      <a routerLink="/chauffeurs">Chauffeurs</a>
      <a routerLink="/versements">Versements</a>
      <a *ngIf="authService.role() === 'ADMIN_GIE'" routerLink="/equipe">Équipe</a>
      <a routerLink="/parametres">Paramètres</a>
    </ng-container>
    <a *ngIf="authService.role() === 'SUPER_ADMIN'" routerLink="/administration-gie">Administration des GIE</a>
  </nav>
  <button class="btn-accent" (click)="seDeconnecter()">Déconnexion</button>
</header>

<main>
  <router-outlet></router-outlet>
</main>
